@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indian Premier League</h1>
    <p class="lead">The Indian Premier League ranks fifth among domestic professional leagues in the world by average attendance (32,800).</p>
    <p><a href="https://en.wikipedia.org/wiki/Indian_Premier_League" class="btn btn-primary btn-lg">IPL Info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Indian Premier League is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India in 2008
        </p>
        <p><a class="btn btn-default" href="https://www.firstpost.com/firstcricket/series/ipl-2019.html">T20 CRICKET LEAGUE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more about IPL</h2>
        <p>The IPL has been designed to entice an entire new generation of sports fans into the grounds throughout the country. The dynamic Twenty20 format has been designed to attract a young fan base, which also includes women and children.</p>
        <p><a class="btn btn-default" href="https://www.indiatvnews.com/sports/cricket">IPL Cricket News Headlines &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teams in IPL</h2>
        <p>Currently, with eight teams, each team plays each other twice in a home-and-away round-robin format in the league phase. At the conclusion of the league stage, the top four teams will qualify for the playoffs. </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Indian_Premier_League#Current_teams">Know more &raquo;</a></p>
    </div>
</div>